<ion-header>
  <ion-toolbar>
    <ion-title>
      Crossword Trainer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-buttons class="homePageButtons">
    <ion-button id="training" expand="block" class="homePageButton" (click)="goToPage('/session-generator')">
      <ion-icon name="barbell-outline"></ion-icon>
      Training
    </ion-button>

    <ion-button id="statistics" expand="block" class="homePageButton" (click)="goToPage('/statistics')">
      <ion-icon name="stats-chart-outline"></ion-icon>

      Statistics
    </ion-button>
  </ion-buttons>





</ion-content>