<ion-header>
  <app-navbar></app-navbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-buttons class="homePageButtons">
    <ion-button id="training" expand="block" class="homePageButton" (click)="goToPage('/session-generator')">
      <div class="buttonContent">
        <ion-icon name="barbell-outline"></ion-icon>
        Training
      </div>

    </ion-button>
    <ion-button id="timeTrial" expand="block" class="homePageButton" (click)="goToPage('/time-trials')">
      <div class="buttonContent">
        <ion-icon name="hourglass-outline"></ion-icon>

        Time Trials
      </div>

    </ion-button>
    <ion-button id="statistics" expand="block" class="homePageButton" (click)="goToPage('/statistics')">
      <div class="buttonContent">
        <ion-icon name="stats-chart-outline"></ion-icon>

        Statistics
      </div>

    </ion-button>

  </ion-buttons>





</ion-content>