<ion-buttons class="dayButtons">
  <ion-button class="dayButton" id="green" (click)="selectDay('Mon')">
    Monday
  </ion-button>
  <ion-button class="dayButton" id="yellow-green" (click)="selectDay('Tue')">
    Tuesday
  </ion-button>
  <ion-button class="dayButton" id="yellow" (click)="selectDay('Wed')">
    Wednesday
  </ion-button>
  <ion-button class=" dayButton" id="orange" (click)="selectDay('Thu')">
    Thursday
  </ion-button>
  <ion-button class="dayButton" id="dark-orange" (click)="selectDay('Fri')">
    Friday
  </ion-button>
  <ion-button class="dayButton" id="red" (click)="selectDay('Sat')">
    Saturday
  </ion-button>
  <ion-button class=" dayButton" id="orange" (click)="selectDay('Sun')">
    Sunday
  </ion-button>
</ion-buttons>